<a href="https://colab.research.google.com/github/code750/Deep_rearning/blob/main/2_2_Flatten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flatten Layer를 활용한 이미지 학습

In [12]:
import tensorflow as tf
import pandas as pd

# with reshape

In [13]:
# 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)
독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [14]:
# 모델 만들기
x = tf.keras.layers.Input(shape=[784])
h = tf.keras.layers.Dense(84, activation='swish')(x)
y = tf.keras.layers.Dense(10, activation='softmax')(h)
model = tf.keras.models.Model(x, y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [15]:
# 모델 학습시키기
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.3756 - accuracy: 0.8530
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5237 - accuracy: 0.9227
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4586 - accuracy: 0.9311
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4202 - accuracy: 0.9398
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3755 - accuracy: 0.9435
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3772 - accuracy: 0.9470
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3592 - accuracy: 0.9487
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3440 - accuracy: 0.9525
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3407 - accuracy: 0.9521
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3492 - accuracy: 0.9535

In [16]:
# 모델 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [17]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# with flatten

In [18]:
# 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [20]:
# 모델 만들기
x = tf.keras.layers.Input(shape=[28, 28])
h = tf.keras.layers.Flatten()(x)
h = tf.keras.layers.Dense(84, activation='swish')(h)
y = tf.keras.layers.Dense(10, activation='softmax')(h)
model = tf.keras.models.Model(x, y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [21]:
# 모델 학습시키기
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.3481 - accuracy: 0.8519
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5531 - accuracy: 0.9175
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4738 - accuracy: 0.9315
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4292 - accuracy: 0.9407
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3995 - accuracy: 0.9441
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4023 - accuracy: 0.9471
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3841 - accuracy: 0.9524
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3655 - accuracy: 0.9525
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3610 - accuracy: 0.9549
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3530 - accuracy: 0.9557

In [22]:
# 모델 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [23]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1