<a href="https://colab.research.google.com/github/code750/Deep_rearning/blob/main/2_lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 레모네이드 판매 예측

*   github csv url : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [25]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [26]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [27]:
# 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape)
print(종속.shape)

(6, 1)
(6, 1)

In [28]:
# 모델을 만듭니다.
x = tf.keras.layers.Input(shape=[1])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [31]:
# 모델을 학습시킵니다.
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4412e-04
Epoch 2/10
1/1 [==============================] - 0s 3ms/step - loss: 1.4399e-04
Epoch 3/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4391e-04
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4392e-04
Epoch 5/10
1/1 [==============================] - 0s 7ms/step - loss: 1.4396e-04
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4406e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4416e-04
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4424e-04
Epoch 9/10
1/1 [==============================] - 0s 19ms/step - loss: 1.4434e-04
Epoch 10/10
1/1 [==============================] - 0s 12ms/step - loss: 1.4436e-04

In [32]:
# 모델을 이용합니다.
model.predict(독립)

array([[39.99303 ],
       [41.99118 ],
       [43.989334],
       [45.987484],
       [47.985638],
       [49.983788]], dtype=float32)

In [33]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [34]:
model.predict([[15]])

array([[30.002272]], dtype=float32)