<a href="https://colab.research.google.com/github/code750/Deep_rearning/blob/main/Pooling_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pooling Layer

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
# 데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [4]:
# CNN모델 만들기
x = tf.keras.layers.Input([28, 28, 1])
h = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(x)
h = tf.keras.layers.MaxPool2D()(h)

h = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(h)
h = tf.keras.layers.MaxPool2D()(h)

h = tf.keras.layers.Flatten()(h)
h = tf.keras.layers.Dense(84, activation='swish')(h)
y = tf.keras.layers.Dense(10, activation='softmax')(h)
model = tf.keras.models.Model(x, y)
model.compile(loss = 'categorical_crossentropy', metrics='accuracy')

In [5]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [6]:
# 모델 학습
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 37s 3ms/step - loss: 0.6225 - accuracy: 0.8745
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.1470 - accuracy: 0.9562
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.1104 - accuracy: 0.9685
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0915 - accuracy: 0.9741
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0826 - accuracy: 0.9757
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0769 - accuracy: 0.9772
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0723 - accuracy: 0.9788
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0683 - accuracy: 0.9800
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0651 - accuracy: 0.9815
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0633 - accuracy: 0.9812

In [ ]:
# 모델 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_2 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________